@font-face {
    font-family: 'bookerly';
    src: url('../font/bookerly.ttf');
  }
  @font-face {
    font-family: 'imitation';
    src: url('../font/imitation.ttf');
  }

.overlay-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F6F9;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: scroll;
  }

.social-links{
    display: inline;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

  
.container1{
    padding: 10vw;
    justify-content: center;
    align-items: center;
    overflow:visible;
}

.action-header{
    display: flex;
    height: 2vh;
}

.close-button{
    float: left;
    border:none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.close-link{
    text-decoration: none;
    color: #212A3E;
}

.op-action-button{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    font-family: imitation;
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

.op-action-button-chip{
    margin-right: 10px;
    margin-bottom: 10px;
}

.button-image{
    height: 20px;
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}

.op-action-button-right{
    float: right;
}

.op-action-button:hover{
    background-color: #9BA4B5;
}

.op-action-button:active{
    background-color: #394867;
}

.close-link:hover{
    color: #9BA4B5;
}



.op-image{
    height: 10rem;
}

.title{
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.541);
}

.content{
    display: block;
    margin: auto;
    font-family: bookerly;
    max-width: 700px;
    text-align: left;
    font-size: 12pt;
}

.action-footer{
    display: block;
}
