@font-face {
  font-family: 'imitation-game';
  src: url('./font/imitation.ttf');
}

body{
  background-color: #dcd5c4  ;
  font-family: 'imitation-game';
  user-select: none;
}

.App {
  text-align: center;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 5px;
  max-width: 100%;
  margin: 0 auto;
}

.grid-item {
  padding: 10px;
  text-align: center;
  color: #0000004c;
}

.grid-item:hover{
  color: #ffffff;
}

.grid-item-title{
  padding: 10px;
  text-align: center;
  color:#2c2b28;
}

@keyframes clueLoop {
  0% {
    color: #0000004c;
  }
  25% {
    color: #ffffff;
  }
  50% {
    color: #0000004c;
  }
  100%{
    color: #0000004c;
  }
}

.grid-item-clue{
  padding: 10px;
  text-align: center;
  color:#0000004c;
  animation: clueLoop 8s infinite;
  cursor: pointer;
}





